body{
    background-image: url(https://cdn.discordapp.com/attachments/976828431864061995/990278056994295828/background.jpg);
    background-repeat: no-repeat;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}